.App {
  text-align: center; }

.leftZone {
  position: absolute;
  top: 17em;
  left: 10em; }

.fontS {
  font-size: 3.5em; }

.top-tags {
  bottom: auto;
  top: 0px; }

.bg-tags {
  color: #515152;
  position: absolute;
  left: 80px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive; }

.bottom-tags {
  color: #515152;
  position: absolute;
  bottom: 0px;
  left: 50px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive; }

/*Introduction.css*/
.lineH {
  line-height: 0.3; }

.textZone::before, .textZone h1:nth-child(3)::after {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px; }

.textZone h1:nth-child(3)::after {
  content: '</h1>';
  margin-left: 10px;
  margin-top: 17px; }

.textZone::after {
  margin-left: 25em;
  margin-top: -1.7em; }

.textZone h2 {
  color: #f4c900;
  margin-top: 9px;
  font-weight: bold;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px; }

.pseudoBtn {
  color: #000000;
  font-size: 11px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 12px 12px;
  border: 1px solid #000000;
  margin-top: 25px;
  float: left;
  border-radius: 3px; }

.pseudoBtn {
  white-space: nowrap; }

.pseudoBtn:hover {
  background: #000000;
  color: #f4c900; }

/*Navigation.css*/
.logo {
  background: #252627;
  display: block;
  padding: 8px 0; }

.navBar {
  background: #000000;
  width: 65px;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  min-height: 100vh; }

.navBar nav {
  display: block;
  text-align: center;
  position: absolute;
  height: 285px;
  top: 50%;
  margin-top: -150px;
  width: 100%; }

.navBar nav a {
  color: #4d4d4e;
  display: block;
  height: 51px;
  position: relative;
  text-decoration: none;
  line-height: 70px; }

#home .material-icons.md-30:before {
  content: 'store'; }

#about .material-icons.md-30:before {
  content: 'perm_identity'; }

#skills .material-icons.md-30:before {
  content: 'code'; }

#code .material-icons.md-30:before {
  content: 'linear_scale'; }

#inbox .material-icons.md-30:before {
  content: 'inbox'; }

#blog .material-icons.md-30:before {
  content: 'create'; }

#home .material-icons.md-30,
#about .material-icons.md-30,
#skills .material-icons.md-30,
#code .material-icons.md-30,
#inbox .material-icons.md-30,
#blog .material-icons.md-30 {
  font-size: 30px; }

.navBar a:hover,
.navBar a.active {
  color: #f4c900; }

.navBar nav .material-icons.md-30 {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.navBar nav a:hover .material-icons.md-30 {
  opacity: 0; }

#home::after,
#about::after,
#skills::after,
#code::after,
#inbox::after,
#blog::after {
  content: '';
  font-size: 9px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  opacity: 0;
  text-align: center;
  height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

#home:hover::after,
#about:hover::after,
#skills:hover::after,
#code:hover::after,
#inbox:hover::after,
#blog:hover::after {
  opacity: 1; }

#home::after {
  content: 'HOME'; }

#about::after {
  content: 'ABOUT'; }

#skills::after {
  content: 'SKILLS'; }

#code::after {
  content: 'PROJECTS'; }

#inbox::after {
  content: 'CONTACT'; }

#blog::after {
  content: 'BLOG'; }

/*About.css*/
#aboutBox {
  top: 14em;
  left: 10em;
  text-align: justify;
  font-size: 12px; }

#aboutBox::before, #aboutBox h1:nth-child(1)::after {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute; }

#aboutBox h1:nth-child(1)::after {
  content: '</h1>';
  margin-top: 2.5em;
  margin-left: -8em; }

/*Skills.css*/
#skillsBox {
  font-size: 12px; }

#skillsBox::before, #skillsBox h1:nth-child(1)::after {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute; }

#skillsBox h1:nth-child(1)::after {
  content: '</h1>';
  margin-top: 2.5em;
  margin-left: -15.7em; }

/*SkillsBars.css*/
.skillsBar {
  position: relative;
  top: 17em;
  left: 4em;
  text-align: left; }

.skills {
  margin: 0 0 30px 0;
  padding: 0;
  width: calc(100% - 100px); }

.skills li {
  display: block;
  position: relative;
  background-color: #888;
  color: #fff;
  margin: 10px 0;
  transition: width 300ms ease-in-out; }

.collapsed .skills li {
  width: 0 !important; }

.skills li p {
  padding: 10px;
  margin: 0;
  font-weight: bold; }

.skills li span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 30px;
  top: 11px;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 11px; }

body {
  font-size: 13px;
  background-color: #e7e7e7; }

hr {
  height: 1px;
  border: 0;
  background-color: #ccc;
  margin: 20px 0;
  padding: 0; }

small {
  font-size: 11px;
  color: #666; }

small a {
  color: inherit; }

/*Contact*/
#contactBox {
  top: 8em; }

#contactBox a {
  float: right; }

#contactBox::before, #contactBox h1:nth-child(1)::after {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute; }

#contactBox h1:nth-child(1)::after {
  content: '</h1>';
  margin-top: 2.5em;
  margin-left: -9.6em; }

form div {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  clear: both;
  position: relative; }

.box-left {
  width: 49%;
  float: left;
  clear: none;
  margin-left: 1%; }

form input[type="text"], form input[type="email"] {
  width: 100%;
  border: 0;
  background: #37393b;
  height: 50px;
  font-size: 16px;
  color: #8d8d8d;
  padding: 0 20px;
  box-sizing: border-box; }

form textarea {
  width: 100%;
  border: 0;
  background: #37393b;
  height: 50px;
  font-size: 16px;
  color: #8d8d8d;
  padding: 20px;
  box-sizing: border-box;
  min-height: 150px; }

.fixposition {
  margin-left: 1%; }

/*Location*/
#mapBox {
  background: rgba(253, 234, 8, 0.1); }

#mapBox div:nth-child(2) {
  height: 869px !important; }

#map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.infoMap {
  position: absolute;
  background: #0b0b0b;
  top: 19.9em;
  z-index: 999999;
  width: 226px;
  padding: 20px;
  color: #656567;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  right: 30em; }

.gmnoprint {
  display: none; }

img.gm-fullscreen-control {
  display: none; }

button[title="Toggle fullscreen view"] {
  display: none; }

a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

/*PageHeader */
.title {
  font: 300 2em/1.4 'Oswald', Helvetica Neue, Arial, sans-serif; }

.hero-body {
  border-bottom: 2px solid #f4c900;
  background-color: white; }

#backslash {
  color: #f4c900;
  font-size: 1.5em; }

#journalFont {
  font-family: 'La Belle Aurore'; }

/*Blog Content*/
.content > h1 {
  font-family: 'Oswald'; }

.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

.scrollBar::-webkit-scrollbar {
  width: 2.5px;
  background-color: #e7e7e7; }

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #f4c900; }

.post-margin {
  margin: 0 0.5em 0 16em; }

/*Single Blog post */
.commentBox {
  margin: 0.5em; }

.commentBoxScroll {
  height: 680px;
  overflow-x: hidden;
  overflow-y: auto; }

.textarea:active, .textarea:focus {
  border-color: #a3a6ab !important; }

.button:focus, .button:active {
  border-color: #a3a6ab !important; }

.control > input[type='text'] {
  background-color: white; }

/*Projects page*/
.projectsBox {
  margin: 0 9em;
  max-width: none; }

/****************************************************/
/*                  MEDIA QUERIES                   */
/****************************************************/
@media (max-width: 350.1px) {
  body, html, .navBar {
    width: 66.8vh; }
  #image, embed {
    display: none; }
  .App {
    min-height: 140vh; }
  .tag:not(body).is-large {
    font-size: 1em; }
  .navBar {
    min-height: 0;
    height: 4em; }
  .navBar nav {
    display: flex;
    height: 0;
    margin-top: 0;
    top: 0; }
  .navBar nav a {
    margin: 0 1.5em; }
  .bg-tags {
    left: -10px;
    top: 4em; }
  .bottom-tags {
    left: -30px;
    bottom: -11em; }
  .leftZone {
    left: 0;
    top: 22em; }
  .fontS {
    font-size: 2.6em; }
  .textZone h1:nth-child(3)::after {
    position: absolute;
    margin-top: 15px; }
  #aboutBox {
    left: 3em;
    width: 110%; }
  #skillsBox {
    width: 100%;
    top: 8em;
    left: 2.5em; }
  .skillsBar {
    top: 33em;
    left: 3em; }
  .skillsBar > h1 {
    display: none; }
  .projectsBox {
    margin: 0;
    height: 710px; }
  .title {
    font: 200 1.5em/1.4 'Oswald', Helvetica Neue, Arial, sans-serif; }
  .hero-body {
    padding-top: 4em !important; }
  #mapBox {
    display: none; }
  #contactBox {
    width: 125%;
    top: 15em;
    left: 1em; }
  .tags:last-child {
    margin-bottom: 1em;
    margin-right: 2em; }
  .post-margin {
    margin: 0; }
  #blogBox {
    height: 635px; }
  #filterCat {
    display: flex;
    flex-wrap: wrap; }
  #filterCat > h1 {
    display: none; }
  #singlePost {
    margin: 0 !important;
    display: block; }
  .media {
    display: block; }
  .ma5 {
    margin: 0 !important; }
  .menu-list a {
    padding: 0.1em 0.75em;
    text-align: left;
    font-size: 1em !important; }
  .externalLinks {
    display: none !important; } }

@media (min-width: 351px) and (max-width: 376px) {
  body, html, .navBar {
    width: 66.8vh; }
  .image img {
    width: 80%; }
  .f1 {
    font-size: 1.5em !important;
    font-weight: bold; }
  #image, embed {
    display: none; }
  .App {
    min-height: 140vh; }
  .navBar {
    min-height: 0;
    height: 4em; }
  .navBar nav {
    display: flex;
    height: 0;
    margin-top: 0;
    top: 0; }
  .navBar nav a {
    margin: 0 1.5em; }
  .leftZone {
    left: 0;
    top: 22em; }
  .fontS {
    font-size: 2.6em; }
  .bg-tags {
    left: -10px;
    top: 4em; }
  .textZone h1:nth-child(3)::after {
    position: absolute;
    margin-top: 15px; }
  .bottom-tags {
    left: -30px;
    bottom: -4em; }
  #aboutBox {
    left: 0.5em;
    width: 109%; }
  #aboutBox h1:nth-child(1)::after {
    margin-top: 1.2em;
    margin-left: -4.5em; }
  .skillsBar {
    top: 28em;
    left: 3em; }
  #skillsBox h1:nth-child(1)::after {
    margin-top: 1.2em;
    margin-left: -9em; }
  .skillsBar > h1 {
    display: none; }
  .projectsBox {
    margin: 0;
    height: 590px; }
  .title {
    font: 200 1.5em/1.4 'Oswald', Helvetica Neue, Arial, sans-serif; }
  .hero-body {
    padding-top: 4em !important; }
  .tags:last-child {
    margin-bottom: 1em;
    margin-right: 2em; }
  #contactBox {
    left: 2em;
    width: 100%;
    top: 15em; }
  #mapBox {
    display: none; }
  #contactBox h1:nth-child(1)::after {
    margin-top: 1.4em;
    margin-left: -6em; }
  #singlePost {
    height: 635px !important;
    margin: 0 !important;
    display: block; }
  #skillsBox {
    width: 100%;
    top: 8em;
    left: 2.5em; }
  #skillBarMobile {
    font-size: small;
    padding: 2px; }
  .skills li span {
    top: 1px !important; }
  #blogBox {
    height: 520px; }
  .post-margin {
    margin: 0; }
  #filterCat {
    display: flex;
    flex-wrap: wrap; }
  #filterCat > h1 {
    display: none; }
  .tag:not(body).is-large {
    font-size: 0.8em; }
  .content h1 {
    font-size: 1.5em; }
  .media {
    display: block; }
  .ma5 {
    margin: 0 !important; }
  .menu-list a {
    padding: 0.1em 0.75em;
    text-align: left;
    font-size: 1em !important; }
  .externalLinks {
    display: none !important; } }

@media (min-width: 377px) and (max-width: 600px) {
  body, html, .navBar {
    width: 66.8vh; }
  .image img {
    width: 80%; }
  .bg-tags, .bottom-tags {
    font-size: 15px; }
  .f1 {
    font-size: 1.5em !important;
    font-weight: bold; }
  #image, embed {
    display: none; }
  .App {
    min-height: 140vh; }
  .navBar {
    min-height: 0;
    height: 4em; }
  .navBar nav {
    display: flex;
    height: 0;
    margin-top: 0;
    top: 0; }
  .navBar nav a {
    margin: 0 1.5em; }
  .leftZone {
    left: 0;
    top: 19em; }
  .fontS {
    font-size: 2.6em; }
  .bg-tags {
    left: -10px;
    top: 4em; }
  .textZone h1:nth-child(3)::after {
    position: absolute;
    margin-top: 15px; }
  .bottom-tags {
    left: -30px; }
  #aboutBox {
    left: 0.5em;
    width: 95%;
    top: 8.5em; }
  #aboutBox::before, #aboutBox h1:nth-child(1)::after,
  #skillsBox::before, #skillsBox h1:nth-child(1)::after {
    font-size: 14px !important; }
  #skillBarMobile {
    font-size: x-small;
    padding: 2px; }
  #skillsBox h1:nth-child(1)::after {
    margin-top: 1.8em;
    margin-left: -12em; }
  #skillsBox {
    width: 90% !important;
    top: 10em !important; }
  #aboutBox h1:nth-child(1)::after,
  #contactBox h1:nth-child(1)::after {
    margin-top: 1.8em;
    margin-left: -6em; }
  .skills li span {
    top: 1px !important; }
  .skillsBar {
    top: 28em;
    left: 3em; }
  .skillsBar > h1 {
    display: none; }
  .projectsBox {
    margin: 0;
    height: 500px !important; }
  .title {
    font: 200 1.5em/1.4 'Oswald', Helvetica Neue, Arial, sans-serif; }
  .hero-body {
    padding-top: 4em !important; }
  .tags:last-child {
    margin-bottom: 1em;
    margin-right: 2em; }
  #contactBox {
    left: 0em;
    width: 100%;
    top: 11em; }
  #mapBox {
    display: none; }
  .mh0 {
    margin-top: 2em; }
  #blogBox {
    height: 440px; }
  .content h1 {
    font-size: 1.5em; }
  .tag:not(body).is-large {
    font-size: 0.8em; }
  #singlePost {
    height: 548px !important;
    margin: 0 !important;
    display: block; }
  #skillsBox {
    width: 100%;
    top: 8em;
    left: 2.5em; }
  .post-margin {
    margin: 0; }
  #filterCat {
    display: flex;
    flex-wrap: wrap; }
  #filterCat > h1 {
    display: none; }
  .media {
    display: block;
    padding: 1em; }
  .ma5 {
    margin: 0 !important; }
  .menu-list a {
    padding: 0.1em 0.75em;
    text-align: left;
    font-size: 1em !important; }
  .externalLinks {
    display: none !important; } }

@media screen and (min-width: 601px) and (max-width: 800px) {
  .columns:not(.is-desktop) .textZone {
    font-size: xx-small !important;
    top: 23em; }
  .columns:not(.is-desktop) #skillsBox {
    width: 80%;
    top: 2em; }
  .columns:not(.is-desktop) #skillsBox > h1, .columns:not(.is-desktop) .skillsBar > h1 {
    font-size: 2em; }
  .columns:not(.is-desktop) #skillsBox h1:nth-child(1)::after {
    margin-top: 1.8em;
    margin-left: -12em; }
  .columns:not(.is-desktop) .skills li p {
    padding: 6px; }
  .columns:not(.is-desktop) .skillsBar {
    left: 10em;
    top: 15em; }
  .columns:not(.is-desktop) #image {
    width: 192px; }
  .columns:not(.is-desktop) .frame-Pos {
    top: 13em;
    left: 10em; }
  .columns:not(.is-desktop) #aboutBox {
    width: 50%;
    top: 4em; }
  .columns:not(.is-desktop) #aboutBox h1:nth-child(1)::after {
    margin-top: 1.8em;
    margin-left: -6em; }
  .columns:not(.is-desktop) .f1 {
    font-size: 2em;
    font-weight: 600; }
  .columns:not(.is-desktop) .projectsBox {
    margin: 0 0em 0 6em;
    height: 500px; }
  .columns:not(.is-desktop) #mapBox {
    display: none; }
  .columns:not(.is-desktop) #contactBox {
    width: 75%; }
  .columns:not(.is-desktop) .post-margin {
    margin: 0 10em 0 5em; }
  .columns:not(.is-desktop) #filterCat {
    position: relative;
    right: -49em;
    top: -38em;
    width: 20%;
    padding: 0;
    margin: 0; }
  .columns:not(.is-desktop) #blogBox {
    height: 500px; }
  .columns:not(.is-desktop) .box .media {
    display: block;
    width: 88%; }
  .columns:not(.is-desktop) #filterCat > h1 {
    word-break: unset;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle; }
  .columns:not(.is-desktop) .tag:not(body).is-large {
    font-size: 0.82em; }
  .columns:not(.is-desktop) #singlePost {
    height: 630px !important;
    margin: 0 0 0 5em !important;
    width: 65%; }
  .columns:not(.is-desktop) #singlePost .media-content {
    display: block;
    position: relative;
    top: 4em;
    right: 5em;
    text-align: justify; }
  .columns:not(.is-desktop) .content {
    width: 115%; }
  .columns:not(.is-desktop) .content > h1 {
    font-size: 1.5em; }
  .columns:not(.is-desktop) .ma5 {
    margin: 0.5em 0; }
  .columns:not(.is-desktop) .is-size-3 {
    font-size: 14px; }
  .columns:not(.is-desktop) .material-icons {
    font-size: 10px; }
  .columns:not(.is-desktop) .externalLinks {
    font-size: 10px !important; } }

@media screen and (min-width: 801px) and (max-width: 1025px) {
  #aboutBox {
    font-size: 13px;
    top: 8em !important; }
  #image {
    width: 257px; }
  #contactBox {
    top: 12em !important; }
  .frame-Pos {
    top: 17em;
    left: 8em; }
  .skillsBar {
    top: 19em; }
  .projectsBox {
    margin: 0 2em 0 7em; }
  .infoMap {
    right: 16em; }
  .leftZone {
    top: 20em !important;
    left: 7em; }
  .post-margin {
    margin: 0 13em 0 5em; }
  #blogBox {
    height: 710px; }
  #filterCat {
    position: relative;
    right: -64em;
    top: -53em;
    width: 20%;
    padding: 0;
    margin: 0; }
  #filterCat > h1 {
    word-break: unset;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle; }
  #singlePost {
    height: 850px !important;
    margin: 0px 1em 0px 6em !important; }
  .ma5 {
    margin: 0.5em 0 !important; }
  .is-size-3 {
    font-size: 14px !important; }
  .externalLinks {
    font-size: 10px !important; } }

@media screen and (min-width: 1026px) and (max-width: 1535px) {
  .leftZone {
    top: 29em; }
  #image {
    width: 365px; }
  #aboutBox {
    top: 25em; }
  .frame-Pos {
    top: 17em; }
  .skillsBar {
    top: 27em; }
  .projectsBox {
    height: 700px; }
  #mapBox div:nth-child(2) {
    height: 1060px !important; }
  .infoMap {
    top: 27em; }
  #contactBox {
    top: 20em; }
  #blogBox, #singlePost {
    height: 920px; }
  .externalLinks {
    font-size: 10px !important; } }

@media screen and (min-width: 2559px) {
  #image {
    width: 650px; }
  #aboutBox {
    left: 6em;
    font-size: 30px; }
  .frame-Pos {
    top: 37em;
    left: 10em; }
  .fontS {
    font-size: 8em; }
  .textZone > h2 {
    font-size: 25px; }
  .pseudoBtn {
    font-size: 25px; }
  .leftZone {
    top: 50em; }
  .skills li p {
    font-size: 40px; }
  .skills li span {
    font-size: 35px; }
  .f1 {
    font-size: 5em; }
  #skillsBox {
    font-size: 30px;
    top: 18em;
    left: 5em; }
  .skillsBar {
    top: 42em; }
  #skillsBox h1:nth-child(1)::after {
    margin-top: 3.5em;
    margin-left: -26em; }
  .projectsBox {
    margin: 0 6em 0 9em;
    height: 1200px; }
  .subtitle {
    font-size: 2.5em; }
  .title {
    font-size: 3em; }
  #mapBox div:nth-child(2) {
    height: 1850px !important; }
  #contactBox {
    top: 49em; }
  .infoMap {
    top: 55em;
    right: 48em; } }
